

<div class="card mb-2 text-center bg-white" >

  <div class="position-relative" (mouseover)="onHover()" (mouseleave)="onLeave()">
    <img [src]="this.image" [alt]="this.cardTitle" class="card-img-top">

    @if (isHovered) {
      <div class="position-absolute top-50 start-50 translate-middle">
        <button (click)="playSound()" [disabled]="isPlaying" class="btn btn-success p-4 rounded-circle btn-lg"> <i class="fas fa-play"></i></button>
      </div>
    }
  </div>

  <audio #audio>
    <!-- <source src="https://p.scdn.co/mp3-preview/efbeb7f8ce05fd86b7467d13df21d147ed316e4a?cid=0cc4e24065854961b2b352c93913eee8" type="audio/mpeg"> -->
    <source [src]="this.trackPreview" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>

  <div class="card-body">
    <h5 class="card-title" (click)="goToAlbum()"
    >{{this.cardTitle }}</h5>
  </div>
  <div class="card-body">
    @for(artist of this.artitsList;track $index){
        <span
          class="badge text-bg-success mx-1 p-1"
          (click)="goToArtist(artist)"
        >
        {{this.artist}}
        </span>
    }
  </div>
  <!--Player -->
  <div class="card-footer">
    <audio controls>
      <source [src]="audioUrl" type="audio/mp3" />
      Tu navegador no soporta la etiqueta de audio.
    </audio>
  </div>
</div>
