<table class="table table-hover text-center">
  <thead>
    <tr>
      <th class="bg-black text-light">Foto</th>
      <th class="bg-black text-light">Album</th>
      <th class="bg-black text-light">Canción</th>
      <th class="bg-black text-light">Vista Previa</th>
    </tr>
  </thead>
  <tbody >
    @for (track_ of tracks; track $index) {
      <tr>
        <!-- <td><button type="button" (click)="onClick(track)" class="btn btn-danger">aqui</button></td> -->
        <td class="align-items-end justify-content-end bg-black text-light align-middle"> <img [src]="track_.album.images[2].url" [alt]="" [width]="track_.album.images[2].width" [height]="track_.album.images[2].height"></td>
        <td class="bg-black text-light align-middle">{{track_.album.name}}</td>
        <td class="bg-black text-light align-middle">{{track_.name}}</td>
        <td class="bg-black text-light align-middle pt-4">
          <div class="d-flex align-items-center">
            <iframe
                  sandbox="allow-scripts allow-same-origin"
                  style="border-radius:12px"
                  [src]="embedURL(track_.id)"
                  width="100%"
                  height="100"
                  frameBorder="0"
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy">
              </iframe>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

