<!--Search box-->
<div class="bg-dark flex-fill p-3 rounded m-1" id="seachBoxContainer">
  <shared-seach-box
    (onValue)="search($event)"
    placeholder="Buscar cancion o artista"
    [value]="this.term"
  ></shared-seach-box>
  <!--Search filter-->
  <div
    class="btn-group my-2"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <!--Filtro album-->
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />
    <label
      class="btn btn-outline-success"
      for="btnradio1"
      (click)="this.filterByAlbum()"
      >Albums</label
    >
    <!--Filtro Tracks-->
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label
      class="btn btn-outline-success"
      for="btnradio2"
      (click)="this.filterByTrack()"
      >Canciones</label
    >
  </div>
</div>

<div class="row">
    <!--History-->
    <div class="col-2 sm:col-3 xl:col-4">
      <div class="text-center p-3 border-round-sm font-bold">
        @if(this.searchedTerms.length > 0){
          <search-history
          [searchedTerms]="this.searchedTerms"
          (onValue)="reSearchTerm($event)"
        ></search-history>
        }
      </div>
    </div>
    <div class="col sm:col-4 md:col-5 xl:col-4">
      <div class="text-center border-round-sm ">
        <!--Search result-->
        <div
          class="bg-dark rounded text-center "
          id="searchResultContainer"
        >
        <shared-spoty-card-list
            [albums]="getAlbums"
            [tracks]="getTracks"
            [showAlbums]="this.showAlbums"
            [showTracks]="this.showTracks"
          ></shared-spoty-card-list>
        </div>
      </div>
    </div>
</div>

div
