<div class="bg-dark flex-fill mx-1">
  @if(this.albums.length==0 && this.tracks.length==0){
  <h3 class="text-white">Sin resultados</h3>
  }@else{ @if(!this.showTracks &&! this.showAlbums){
  <h3 class="text-white">Seleccione Albums o Canciones</h3>
  } @if(this.albums.length>0 && this.showAlbums){
  <div class="row">
    @for(album of this.albums ; track $index){
    <div class="col-md-2 col-sm-4">
      <shared-spoty-card
        [type_]="this.album.album_type"
        [id_]="this.album.id"
        [cardTitle]="this.album.name"
        [image]="this.album.images[0].url"
        [artitsList]="this.getAlbumArtits(this.album)"
      >
        <!--Agregar id al album y recibirlo en la card-->
      </shared-spoty-card>
    </div>
    }
  </div>
  } @if(this.tracks.length>0 && this.showTracks){
  <div class="row">
    @for(track of this.tracks ; track $index){
    <div class="col-md-2 col-sm-4">
      <shared-spoty-card
        [cardTitle]="track.name"
        [image]="this.track.album.images[0].url"
        [artitsList]="this.trackArtists(this.track.artists)"
        [id_]="track.id"
        [type_]="track.type"
      >
      </shared-spoty-card>
    </div>
    }
  </div>
  } }
</div>
